:root {
  --color-background: #F8F9FA;
  --color-foreground: #22272E;
  --color-foreground-light: #627386;
  --color-foreground: #22272E;
  --color-border-dark: #F2F4F6;
  --color-primary: #C9CBCE;
  --color-empty: #D4DAE1;
  --color-0: #788DA1;
  --color-1: #712BDE;
  --color-2: #5653E8;
  --color-3: #3174F1;
  --color-4: #0095F9;
  --color-5: #00AEF6;
  --color-6: #18BEE5;
  --color-7: #5CCED6;
  --color-open-source: #00D559;
  --color-private: #00A5FE;
  --color-7: #5CCED6;
  --size-container: 880px;
}

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Thin.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Medium.otf') format('opentype');
  font-weight: 400;
}

// TODO: maybe can be removed
@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Regular.otf') format('opentype');
  font-weight: 500;
}

// TODO: maybe can be removed
@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Semibold.otf') format('opentype');
  font-weight: 600;
}

// TODO: maybe can be removed
@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Bold.otf') format('opentype');
  font-weight: 700;
}

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  overflow: scroll;
  font-family: "Nutanix Soft", -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-weight: 600;
  font-size: 14px;
}

h2 {
  font-weight: 600;
  font-size: 14px;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  padding-top: 14px;
}

h4 {
  font-weight: 500;
  font-size: 14px;
  padding-top: 2px;
  color: var(--color-foreground-light);
}

.weekday__hours {
  --max-value: var(--max-hour-value);
}

.weekday .total {
  --max-size: 4vw;
  position: relative;
  --height: calc(var(--size) * var(--max-size));
  grid-column: 1;
  grid-row: 1;
  &:before,
  &:after {
    backface-visibility: hidden;
    content: '';
    position: absolute;
    width: var(--max-size);
    height: var(--height);
    top: 0;
    left: 0;
    transform-origin: 0 0 0;
    background: hsl(206, 51%, calc(var(--size) * 20% + 46%));
hr {
  border: none;
  border-bottom: 1px solid #D5DAE0;
  width: 30px;
  margin: 17px 0;
}

header {
  line-height: 50px;
  border-bottom: 1px solid var(--color-border-dark);
  h1 {
    max-width: var(--size-container);
    margin: 0 auto;
  }
}

.weekday__sum,
.weekday__hours {
  .total {
    &:nth-child(3n) {
      // top
      &:before {
        height: var(--max-size);
        transform: translateZ(calc(var(--height) - 0.75px));
        box-shadow: 1vw 1vw 3vw inset #0001;
      } // bottom
      &:after {
        transform: translateY(var(--max-size)) rotateX(180deg);
        height: var(--max-size);
      }
    }
    &:nth-child(3n+1) {
      // front
      &:before {
        transform: translateX(calc(var(--max-size) + .75px)) rotateX(90deg) rotateY(180deg) translateZ(var(--max-size));
        box-shadow: -1vw 1vw 3vw inset #0001;
      } // back
      &:after {
        transform: rotateX(90deg);
      }
    }
    &:nth-child(3n+2) {
      // left
      &:before {
        transform: rotateZ(-90deg) rotateX(90deg) translateX(-var(--max-size));
      } // right
      &:after {
        transform: rotateZ(90deg) rotateX(90deg) translateZ(calc(var(--max-size) - .75px));
        box-shadow: 1vw 1vw 3vw inset #0001;
      }
    }
  }
a {
  color: inherit;
  text-decoration: none;
}

.weekday {
  display: grid;
  grid-template-columns: 1fr 1.2fr 24fr;
  grid-template-rows: 4vw;
  width: 100vw;
}

.weekday__hours {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: 1fr;
}

.weekday__sum {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.app {
  perspective: 100vw;
  perspective-origin: 50vw 50vh;
  &.step-0 {
    perspective: calc(100vw / var(--scroll));
    .weekdays {
      transform: rotateX(calc(var(--scroll) * 30deg)) rotateZ(calc(var(--scroll) * 15deg)) rotateY(calc(var(--alpha) * -90deg)) rotateX(calc(var(--beta) * -90deg));
    }
  }
  &.step-1 {
    transform: translateY(calc(-100vh * var(--scroll)));
  }

.card {
  background: #fff;
  border-radius: 4px;
}

.card__title {
  line-height: 38px;
  border-bottom: 1px solid #F2F3F5;
  text-align: left;
  padding-left: 20px;
  position: relative;
}

.card__content {
  padding-left: 20px;
}
}
