:root {
  --color-background: #2B2C3B;
  --color-foreground: #7A7B80;
  --color-primary: #C9CBCE;
  --color-1: #5696C8;
}

@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Thin.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Medium.otf') format('opentype');
  font-weight: 400;
}

// TODO: maybe can be removed
@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Regular.otf') format('opentype');
  font-weight: 500;
}

// TODO: maybe can be removed
@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Semibold.otf') format('opentype');
  font-weight: 600;
}

// TODO: maybe can be removed
@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Bold.otf') format('opentype');
  font-weight: 700;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: scroll;
  text-align: center;
  font-size: 2vw;
  font-family: "Nutanix Soft", -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-weight: 200;
}

h1 {
  font-weight: 400;
}

a {
  color: var(--color-primary);
}

.total {
  --size: calc(var(--value) / var(--max-value));
}

.weekday__sum {
  --max-value: var(--max-day-value);
}

.weekday__hours {
  --max-value: var(--max-hour-value);
}

.weekday .total {
  position: relative;
  --height: calc(var(--size) * 5vw);
  grid-column: 1;
  grid-row: 1;
  &:before,
  &:after {
    backface-visibility: hidden;
    content: '';
    position: absolute;
    width: 4vw;
    height: var(--height);
    top: 0;
    left: 0;
    transform-origin: 0 0 0;
    background: hsl(206, 51%, calc(var(--size) * 20% + 46%));
  }
}

.weekday__sum,
.weekday__hours {
  .total {
    &:nth-child(3n) {
      // top
      &:before {
        height: 4vw;
        transform: translateZ(calc(var(--height) - 0.25px));
        box-shadow: 1vw 1vw 3vw inset #0002;
      } // bottom
      &:after {
        transform: translateY(4vw) rotateX(180deg);
        height: 4vw;
      }
    }
    &:nth-child(3n+1) {
      // front
      &:before {
        transform: translateX(4vw) rotateX(90deg) rotateY(180deg) translateZ(4vw);
        box-shadow: -1vw 1vw 3vw inset #0002;
      } // back
      &:after {
        transform: rotateX(90deg);
      }
    }
    &:nth-child(3n+2) {
      // left
      &:before {
        transform: rotateZ(-90deg) rotateX(90deg) translateX(-4vw);
      } // right
      &:after {
        transform: rotateZ(90deg) rotateX(90deg) translateZ(4vw);
        box-shadow: 1vw 1vw 3vw inset #0002;
      }
    }
  }
}

.weekday {
  display: grid;
  grid-template-columns: 1fr 24fr;
  grid-template-rows: 4vw;
}

.weekday__hours {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: 1fr;
}

.weekday__sum {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.app {
  perspective: calc(100vw / var(--scroll));
  perspective-origin: 50vw 50vh;
}

.weekdays {
  position: relative;
  transform: rotateX(calc(var(--scroll) * 66deg)) rotateZ(calc(var(--scroll) * 33deg));
  transform-style: preserve-3d;
}
