:root {
  --color-background: #2B2C3B;
  --color-foreground: #7A7B80;
  --color-primary: #C9CBCE;
  --color-1: #5696C8;
}

@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Thin.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Medium.otf') format('opentype');
  font-weight: 400;
}

// TODO: maybe can be removed
@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Regular.otf') format('opentype');
  font-weight: 500;
}

// TODO: maybe can be removed
@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Semibold.otf') format('opentype');
  font-weight: 600;
}

// TODO: maybe can be removed
@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Bold.otf') format('opentype');
  font-weight: 700;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: scroll;
  text-align: center;
  font-size: 2vw;
  font-family: "Nutanix Soft", -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-weight: 200;
}

h1 {
  font-weight: 400;
}

a {
  color: var(--color-primary);
}

.total {
  --size: calc(var(--value) / var(--max-value));
}

.weekday__sum {
  --max-value: var(--max-day-value);
}

.weekday__hours {
  --max-value: var(--max-hour-value);
}

.weekday .total {
  --max-size: 4vw;
  position: relative;
  --height: calc(var(--size) * var(--max-size));
  grid-column: 1;
  grid-row: 1;
  &:before,
  &:after {
    backface-visibility: hidden;
    content: '';
    position: absolute;
    width: var(--max-size);
    height: var(--height);
    top: 0;
    left: 0;
    transform-origin: 0 0 0;
    background: hsl(206, 51%, calc(var(--size) * 20% + 46%));
  }
}

.weekday__sum,
.weekday__hours {
  .total {
    &:nth-child(3n) {
      // top
      &:before {
        height: var(--max-size);
        transform: translateZ(calc(var(--height) - 0.75px));
        box-shadow: 1vw 1vw 3vw inset #0001;
      } // bottom
      &:after {
        transform: translateY(var(--max-size)) rotateX(180deg);
        height: var(--max-size);
      }
    }
    &:nth-child(3n+1) {
      // front
      &:before {
        transform: translateX(calc(var(--max-size) + .75px)) rotateX(90deg) rotateY(180deg) translateZ(var(--max-size));
        box-shadow: -1vw 1vw 3vw inset #0001;
      } // back
      &:after {
        transform: rotateX(90deg);
      }
    }
    &:nth-child(3n+2) {
      // left
      &:before {
        transform: rotateZ(-90deg) rotateX(90deg) translateX(-var(--max-size));
      } // right
      &:after {
        transform: rotateZ(90deg) rotateX(90deg) translateZ(calc(var(--max-size) - .75px));
        box-shadow: 1vw 1vw 3vw inset #0001;
      }
    }
  }
}

.weekday {
  display: grid;
  grid-template-columns: 1fr 1.2fr 24fr;
  grid-template-rows: 4vw;
  width: 100vw;
}

.weekday__hours {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: 1fr;
}

.weekday__sum {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.app {
  perspective: 100vw;
  perspective-origin: 50vw 50vh;
  &.step-0 {
    perspective: calc(100vw / var(--scroll));
    .weekdays {
      transform: rotateX(calc(var(--scroll) * 30deg)) rotateZ(calc(var(--scroll) * 15deg)) rotateY(calc(var(--alpha) * -90deg)) rotateX(calc(var(--beta) * -90deg));
    }
  }
}

.weekdays {
  position: relative;
  transform: rotateX(30deg) rotateZ(15deg) rotateY(calc(var(--alpha) * -90deg)) rotateX(calc(var(--beta) * -90deg));
  transform-style: preserve-3d;
}
