:root {
  --color-background: #F8F9FA;
  --color-foreground: #22272E;
  --color-foreground-light: #627386;
  --color-foreground: #22272E;
  --color-border-dark: #F2F4F6;
  --color-primary: #C9CBCE;
  --color-empty: #D4DAE1;
  --color-0: #788DA1;
  --color-1: #712BDE;
  --color-2: #5653E8;
  --color-3: #3174F1;
  --color-4: #0095F9;
  --color-5: #00AEF6;
  --color-6: #18BEE5;
  --color-7: #5CCED6;
  --color-open-source: #00D559;
  --color-private: #00A5FE;
  --color-7: #5CCED6;
  --size-container: 880px;
}

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Thin.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Medium.otf') format('opentype');
  font-weight: 400;
}

// TODO: maybe can be removed
@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Regular.otf') format('opentype');
  font-weight: 500;
}

// TODO: maybe can be removed
@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Semibold.otf') format('opentype');
  font-weight: 600;
}

// TODO: maybe can be removed
@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Bold.otf') format('opentype');
  font-weight: 700;
}

html,
body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  padding: 0;
  overflow: scroll;
  font-family: "Nutanix Soft", -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-weight: 600;
  font-size: 14px;
}

h2 {
  font-weight: 600;
  font-size: 14px;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  padding-top: 14px;
}

h4 {
  font-weight: 500;
  font-size: 14px;
  padding-top: 2px;
  color: var(--color-foreground-light);
}

hr {
  border: none;
  border-bottom: 1px solid #D5DAE0;
  width: 30px;
  margin: 17px 0 16px 0;
}

.header {
  line-height: 50px;
  border-bottom: 1px solid var(--color-border-dark);
  h1 {
    max-width: var(--size-container);
    margin: 0 auto;
  }
}

.footer {
  margin-top: 55px;
  line-height: 48px;
  border-top: 1px solid var(--color-border-dark);
  font-size: 14px;
  color: #9AA5B5;
  font-weight: 600;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: var(--size-container);
  margin: 0 auto;
}

.footer__left {
  text-align: left;
}

.footer__right {
  text-align: right;
}

a {
  color: inherit;
  text-decoration: none;
}

.row {
  display: grid;
  grid-auto-rows: 1fr;
  max-width: var(--size-container);
  margin: 40px auto;
  grid-column-gap: 35px;
}

.row--first-third {
  grid-template-columns: 295px 550px;
}

.row--last-third {
  grid-template-columns: 550px 295px;
}

.card {
  background: #fff;
  border-radius: 4px;
}

.card__title {
  line-height: 38px;
  border-bottom: 1px solid #F2F3F5;
  text-align: left;
  padding-left: 20px;
  position: relative;
}

.card__content {
  position: relative;
  padding: 0 20px;
}

.legend {
  display: grid;
  padding-bottom: 15px;
  &>* {
    min-width: 0;
  }
}

.legend__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
}

.legend__value {
  padding-top: 4px;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-foreground-light);
}

.legend__color {
  background-color: var(--color);
  width: 6px;
  height: 6px;
  border-radius: 3px;
  float: left;
  margin: 6px 10px 20px 0;
}

.about-me__legend {
  grid-row-gap: 4px;
  width: 268px;
}

.about-me__avatar {
  border-radius: 999px;
  width: 29px;
  height: 29px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.statistics__legend {
  grid-row-gap: 8px;
  width: 357px;
}

.bar {
  display: grid;
  grid-column-gap: 2px;
}

.bar__section {
  color: #fff;
  background-color: var(--color);
  font-size: 12px;
  font-weight: 600;
  padding: 2px 5px 3px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  &:first-child {
    border-radius: 4px 0 0 4px;
  }
  &:last-child {
    border-radius: 0 4px 4px 0;
  }
}

.daytime {
  height: 360px;
}

.daytime-comparison {
  height: 360px;
}

.weekday-comparison {
  height: 315px;
}

.contribution-comparison {
  height: 315px;
}

.years {
  height: 360px;
}

.yearly-statistics {
  height: 290px;
}

.timeline {
  height: 360px;
}
