:root {
  --color-background: #F8F9FA;
  --color-foreground: #22272E;
  --color-foreground-light: #627386;
  --color-foreground: #22272E;
  --color-border-dark: #F2F4F6;
  --color-primary: #C9CBCE;
  --color-empty: #F4FAFF;
  --color-0: #D4DAE1;
  --color-1: #712BDE;
  --color-2: #5653E8;
  --color-3: #3174F1;
  --color-4: #0095F9;
  --color-5: #00AEF6;
  --color-6: #18BEE5;
  --color-7: #5CCED6;
  --color-open: #00D559;
  --color-closed: #00A5FE;
  --color-7: #5CCED6;
  --size-container: 880px;
}

@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Thin.otf') format('opentype');
  font-weight: 200;
}

@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Medium.otf') format('opentype');
  font-weight: 400;
}

// TODO: maybe can be removed
@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Regular.otf') format('opentype');
  font-weight: 500;
}

// TODO: maybe can be removed
@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Semibold.otf') format('opentype');
  font-weight: 600;
}

// TODO: maybe can be removed
@font-face {
  font-family: 'Nutanix Soft';
  src: url('/NutanixSoft-Bold.otf') format('opentype');
  font-weight: 700;
}

html,
body,
button {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "Nutanix Soft", -apple-system, BlinkMacSystemFont, sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: scroll;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-weight: 600;
  font-size: 14px;
}

h2 {
  font-weight: 600;
  font-size: 14px;
}

h3 {
  font-weight: 500;
  font-size: 18px;
  padding-top: 14px;
}

h4 {
  font-weight: 500;
  font-size: 14px;
  padding-top: 2px;
  color: var(--color-foreground-light);
}

hr {
  border: none;
  border-bottom: 1px solid #D5DAE0;
  width: 30px;
  margin: 17px 0 16px 0;
}

.header {
  line-height: 50px;
  border-bottom: 1px solid var(--color-border-dark);
  h1 {
    max-width: var(--size-container);
    margin: 0 auto;
  }
}

.footer {
  margin-top: 55px;
  line-height: 48px;
  border-top: 1px solid var(--color-border-dark);
  font-size: 14px;
  color: #9AA5B5;
  font-weight: 600;
}

.footer__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: var(--size-container);
  margin: 0 auto;
}

.footer__left {
  text-align: left;
}

.footer__right {
  text-align: right;
}

a {
  color: inherit;
  text-decoration: none;
}

.row {
  display: grid;
  grid-auto-rows: 1fr;
  max-width: var(--size-container);
  margin: 40px auto;
  grid-column-gap: 35px;
}

.row--first-third {
  grid-template-columns: 295px 550px;
}

.row--last-third {
  grid-template-columns: 550px 295px;
}

.card {
  background: #fff;
  border-radius: 4px;
  position: relative;
}

.card__title {
  line-height: 38px;
  border-bottom: 1px solid #F2F3F5;
  text-align: left;
  padding-left: 20px;
  position: relative;
  .button-group {
    position: absolute;
    top: 0;
    right: 20px;
  }
}

.card__content {
  position: relative;
  padding: 0 20px;
}

.card__footer {
  height: 37px;
  line-height: 37px;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #f2f3f5;
  text-align: center;
  position: absolute;
  overflow: hidden;
  .legend {
    display: inline-block;
    >div {
      display: inline-block;
    }
  }
  .legend__value {
    display: none;
  }
  .legend__color {
    margin-top: 16px;
    margin-left: 10px;
  }
  .legend__title {
    padding-right: 10px;
    font-size: 12px;
    font-weight: 400;
    color: #627386;
  }
}

.legend {
  display: grid;
  padding-bottom: 15px;
  &>* {
    min-width: 0;
  }
}

.legend__title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 14px;
  font-weight: 500;
  padding-right: 12px;
}

.legend__value {
  padding-top: 4px;
  font-size: 12px;
  font-weight: 400;
  color: var(--color-foreground-light);
}

.legend__color {
  background-color: var(--color);
  width: 6px;
  height: 6px;
  border-radius: 3px;
  float: left;
  margin: 6px 10px 20px 0;
}

.about-me__legend {
  grid-row-gap: 4px;
  width: 268px;
}

.about-me__avatar {
  border-radius: 999px;
  width: 29px;
  height: 29px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.statistics__legend {
  grid-row-gap: 8px;
  width: 357px;
}

.bar {
  display: grid;
  grid-column-gap: 2px;
}

.bar__section {
  color: #fff0;
  background-color: var(--color);
  font-size: 12px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  &.bar--horizontal {
    padding: 2px 5px 3px;
    &:first-child {
      border-radius: 4px 0 0 4px;
    }
    &:last-child {
      border-radius: 0 4px 4px 0;
    }
  }
  &.bar--vertical {
    font-size: 0;
    &:first-child {
      border-radius: 1px 1px 0 0;
    }
    &:last-child {
      border-radius: 0 0 1px 1px;
    }
  }
}

.daytime {
  height: 360px;
}

.daytime-comparison {
  height: 360px;
}

.weekday-comparison {
  height: 315px;
  .bar {
    margin: 0 33px 0 34px;
    width: 6px;
    float: left;
    bottom: 0;
    transform: translateY(calc(-100% + 125px));
    &:last-child {
      margin-right: 0;
    }
  }
  .chart__grid {
    grid-template-rows: 195px 25px;
  }
}

.contribution-comparison {
  height: 315px;
  .legend {
    display: block;
    >div {
      border-bottom: 1px solid #F2F3F5;
      margin: 0 -20px;
      padding: 10px 20px;
      display: grid;
      grid-template-columns: 1fr 20fr 3fr;
    }
  }
  .legend__title {
    color: #627386;
  }
  .legend__value {
    text-align: right;
    padding: 0;
  }
  .legend__color {
    margin-bottom: 0;
  }
  svg {
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
  }
}

.contribution-comparison__path--hover {
  opacity: 0;
  pointer-events: none;
}

.contribution-comparison__path {
  fill: none;
  &:hover+.contribution-comparison__path--hover {
    opacity: 0.07;
  }
}

.contribution-comparison__path--open {
  stroke: var(--color-open);
}

.contribution-comparison__path--closed {
  stroke: var(--color-closed);
}

.years {
  height: 360px;
}

.yearly-statistics {
  height: 290px;
}

.yearly-statistics__highlights {
  padding-top: 35px;
}

.yearly-statistics__legend {
  padding-top: 14px;
  grid-row-gap: 8px;
  width: 832px;
}

.yearly-statistics .heatmap {
  position: absolute;
  top: 21px;
  right: 21px;
}

.timeline {
  height: 360px;
}

.button-group__button {
  outline: none;
  border: 1px solid #E4E4E4;
  font-size: 12px;
  font-weight: 400;
  color: #627386;
  padding: 4px 14px 4px 13px;
  margin-left: -1px;
  cursor: pointer;
  &:last-child {
    border-radius: 0 4px 4px 0;
  }
  &:first-child {
    border-radius: 4px 0 0 4px;
  }
}

.button-group__button--active {
  background: #627386;
  border: 1px solid #627386;
  color: #fff;
  cursor: default;
}

.button-group__button--active+.button-group__button {
  border-left: 1px solid #627386;
}

.heatmap__grid {
  display: grid;
  width: 634px;
  height: 82px;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-rows: repeat(7, 1fr);
  grid-template-columns: repeat(53, 1fr);
  grid-auto-flow: column;
}

.heatmap__cell {
  background-color: var(--color);
  border-radius: 2px;
}

.heatmap__legend {
  margin-top: 15px;
  margin-right: 7px;
  display: grid;
  width: 178px;
  height: 10px;
  grid-template-columns: 4fr repeat(8, 1fr) 4fr;
  grid-column-gap: 2px;
  font-size: 12px;
  line-height: 10px;
  font-weight: 400;
  float: right;
  >div {
    &:last-child {
      padding-left: 7px;
    }
    &:first-child {
      text-align: right;
      padding-right: 7px;
    }
  }
}

.chart__grid {
  display: grid;
  grid-template-rows: 240px 25px;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}

.chart__axis {
  font-size: 12px;
  font-weight: 400;
  color: #9AA5B5;
}

.chart__axis--x {
  padding-top: 5px;
  border-top: 1px solid #F2F4F6;
  display: flex;
  label {
    text-align: center;
    flex-grow: 1;
  }
}

.chart__axis--y {
  grid-area: yAxis;
  padding-top: 24px;
  label {
    display: block;
    padding-top: 33px;
    text-align: center;
    padding-right: 15px;
  }
}

.chart__canvas {
  align-self: end;
  svg {
    overflow: visible;
  }
}

.chart__graph {
  fill: none;
  stroke: var(--color);
  stroke-width: 1.5;
}

.chart__area {
  fill: var(--color);
  opacity: 0.07;
}

.chart__divider {
  stroke: #7C8D9F;
}
